.header {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  
  button {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.version {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
