@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans&display=swap');
@import 'themes';
@import '~@nebular/theme/styles/globals';

$nb-enable-css-custom-properties: true;

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */


body {
  font-size: 18px;
  font-family: 'IBM Plex Sans', sans-serif;
}
